.edit-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  min-height: calc(100vh - 88px);
  box-sizing: border-box;
  position: relative;
  background-color: #f5f7fa;
}

.avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

  .avatar-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
    margin-bottom: 10px;
  }

  .edit-avatar-btn {
    background-color: #12b0b4;
    color: #fff;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease;

    &:hover {
      background-color: #21687f;
    }
  }
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%;

  .info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    label {
      width: 30%;
      font-weight: 600;
      margin-bottom: 5px;
      color: #333;
    }

    .input-field {
      flex: 1;
      box-sizing: border-box;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      transition: border-color 0.2s;

      &:focus {
        border-color: #007bff;
        outline: none;
      }

      .option-field {
      box-sizing: border-box;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      }
    }

    .send-code-btn {
      padding: 10px;
      border: none;
      color: #fff;
      background-color: #12b0b4;
      border-radius: 8px;
      font-size: 16px;
      margin-left: 10px;
      cursor: pointer;

    &:hover {
      background-color: #21687f;
    }
    }
  }

}

.button-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;

  .change-password-btn,
  .save-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .change-password-btn {
    background-color: #ffc107;
    color: #000;

    &:hover {
      background-color: #e0a800;
    }
  }

  .save-btn {
    background-color: #28a745;
    color: #fff;

    &:hover {
      background-color: #218838;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.password-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.25s ease;

  .password-modal {
  width: 380px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  animation: popup 0.25s ease;
  position: relative;

    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 600;
    }

    .input-field {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 12px;
      border-radius: 8px;
      border: 1px solid #ccc;
      outline: none;
      margin: 10px auto;
      font-size: 15px;

      &:focus {
        border-color: #007bff;
      }
    }

    .btn-row {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }

    button {
      padding: 10px 18px;
      border-radius: 8px;
      font-size: 15px;
      cursor: pointer;
      border: none;
      transition: 0.2s;
    }

    .save-btn {
      background: #007bff;
      color: white;

      &:hover {
        background: #0063cc;
      }
    }

    .cancel-btn {
      background: #ccc;

      &:hover {
        background: #b2b2b2;
      }
    }

    .close-icon {
      position: absolute;
      right: 12px;
      top: 12px;
      font-size: 30px;
      cursor: pointer;

      &:hover {
        color: red;
      }
    }
  }
}