.homepage {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .homepage-content {
        width: 100%;
        .video-container {
            width: 55%;
            margin: auto;

            img {
                width: 100%;
            }
        }
    }
}