.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    .header-logo-img {
      height: 40px;
      width: 40px;
      object-fit: contain;
    }
  }

  .header-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
  }

  .header-buttons {
    display: flex;
    align-items: center;
    gap: 12px;

    .signup-button {
        
    }

    .login-button {
        
    }
  }

}
